<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <ul>
        <li><%= link_to("Home", "/") %></li></br>
        <li><%= link_to("New Product", new_product_path) %></li>
      </ul>
    </nav>

    <%= yield %>

    <p class="userinfo">
      <% if current_user %>
        Signed in as <%= current_user.email %>. <%= link_to "Log out", sessions_path("current"), :method => :delete %>
      <% else %>
        <%= link_to "Log in", new_sessions_path %> or <%= link_to "Sign up", new_users_path %>
      <% end %>
    </p>
  </body>
</html>
